@import "./reset.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700&display=swap'); 
/*імпортуємо шрифт для сайту*/

body{
	color: #000;
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width:1230px;
	padding: 0 30px;
	margin: 0 auto;
}

header {
	padding:0px;
	background-color:#405a1a;
	border-bottom: 1px solid #333842;
}

.header-nav {
	display: flex;
	align-items: center;
}

.nav {
	flex-grow: 1;
	position: relative;
}


.logo {
	font-weight: 700;
	font-size: 17px;
	color: #e7e7e7;
	letter-spacing: 1.5px;
}

/*Навігація*/

.nav-list {
	display: flex;
	column-gap: 0;
	font-weight: 200;
	font-size: 24px;
	justify-content: center;
    	list-style: none;
    	padding: 0;
    	margin: 0;
}

.nav-item {
    	position: relative;
    	text-align: center;
    	transition: background-color 0.3s ease;
}

.nav-link {
    color: #e7e7e7;
    text-decoration: none;
    display: flex;  
    align-items: center;
    justify-content: center; 
    min-height: 100%; 
    padding: 10px 20px;
    transition: color 0.3s ease;
    height: 80px;
}

/* ЕФЕКТИ НАВЕДЕННЯ ДЛЯ ОСНОВНИХ ПУНКТІВ */

.nav-item:hover {
    	background-color: #557721;
}

.nav-item:hover > .nav-link {
    	color: #ffffff;
    	border-bottom-color: #6d8e40;
}


/*Стилі для Підменю*/
.submenu {
    	position: absolute;
    	top: 100%;
    	left: 0;
    	background-color: #557721;
    	list-style: none;
    	padding: 0;
    	margin: 0;
    	min-width: 230px;
    	z-index: 20;
    	display: none;
    	opacity: 0;
    	transition: opacity 0.3s ease;
}

.submenu-item {
    	display: block;
    	text-align: left;
}

.submenu-link {
    	color: #e7e7e7;
    	text-decoration: none;
    	display: block;
    	font-size: 18px;
    	padding: 10px 15px;
}

.submenu-item:hover .submenu-link {
    	color: #ffffff;
}

.nav-item.has-submenu:hover .submenu {
    	display: block;
    	opacity: 1;
}


/*2 секція*/

.description{
	background-image: url('../img/fon.jpg'); 
	background-size: cover; 
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 90vh;
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;			
}

.description-description{
	font-weight: 700;
	font-size: 60px;
	color: white;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
}

.description-size{
	font-weight: 200;
	font-size: 24px;
	color: #e8e8e8;
	text-shadow: 1px 1px 2px #000000;
	margin-top: 15px;	
}

.description-title{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1230px;
	flex-grow: 1;
}

.description-title p{
	font-size: 25px;
	color: #e8e8e8;
    	background-color: rgba(0, 0, 0, 0.5);
    	padding: 10px 15px; 
    	border-radius: 5px;
	margin-top: 50px; 
    	margin-bottom: 15px;
	text-align: justify;
}



/*Додаткова інформація(якщо потрібна)*/

.content{
	background-color: #787878;
}

.content-text{
	color: white;
	text-align: center;
	font-size: 27px;
	font-weight: bold;
	padding: 15px 15px;	 
}


/*Футер*/

.contacts {
    background-color: #405a1a;
    color: #aeb3be;
    padding: 10px 0;
    font-size: 19px;
    border-top: 1px solid #333a41;
}

.footer-row-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-links-wrapper {
    display: flex;
    text-align: left;
}

.social-link {
    color: #aeb3be;
    text-decoration: none;
    display: flex;
}

.footer-row-bottom p {
    margin: 0;
    font-weight: bold;
    text-align: left;
    color: #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.left-group p {
    margin: 0;
    padding: 0;
}

.content {
    padding: 20px 0;
}

.content-description {
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}

.content-content p {
    color: #FFFFFF;
    font-size: 21px;
    text-align: justify;
    width: 100%;
    max-width: none;
    margin: 10px 0;
    line-height: 1.6;
    padding-left: 0;
    padding-right: 0;
}

/* Центрування блоку з фотографією */
.image-center {
    text-align: center; /* Центрує зображення */
    margin-bottom: 20px;
}

/* Стилі для самого зображення */
.image-center img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #FFFFFF; /* Біла рамка */
}







